<div>
  <article class="card">
    <h1>Send Money</h1>
    <section>
      <label>To:</label>
      {{input type="text" value=payee size="50"}}

      <div class="row">
        <div class="four-fifth">
          <label>Amount:</label>
          {{input type="text" value=amount}}
        </div>
        <div>
          <select name="currency">
            {{#each currencies as |currency|}}
              <option value={{currency.label}}>{{currency.label}}</option>
            {{/each}}
          </select>
        </div>
      </div>

      <label>Message (optional):</label>
      {{textarea value=message cols="80" rows="6"}}

      <label>What's this payment for?</label>
      <select name="paymentReason">
        {{#each paymentReasons as |reason|}}
          <option value={{reason.code}}>{{reason.text}}</option>
        {{/each}}
      </select>
    </section>
  </article>  
</div>
